{% extends 'base.html.twig' %}

{% block title %}Driver Profile{% endblock %}
{% block body %}

  <div class="container pt-3">
    <div class="row">
      <h1 class="mt-4 mb-5 text-center">{{ driver.firstname }} {{ driver.lastname }}</h1>

      <div class="card col-3">
        <h3 class="text-center">Profile Info</h3>
        <div class="card-header">
          Driver: {{ driver.firstname }} {{ driver.lastname }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Birthday: {{ driver.birthdate | date('d / m / Y') }}</li>
          <li class="list-group-item">City: {{ driver.city }}</li>
          <li class="list-group-item">Email: {{ driver.email }}</li>
          <li class="list-group-item">Phone: {{ driver.phone }}</li>
        </ul>
      </div>
      <div class="col-9">
        <div class="container">

          <h3 class="mt-4 mb-3">Reservation history</h3>

          <div class="container">
            <table id="table-history" class="table table-striped table-hover text-center">
              <thead>
                <tr>
                  <th>Reservation ID</th>
                  <th>Vehicle</th>
                  <th>Reservation Date</th>
                </tr>
              </thead>
              <tbody id="table-history-body">
                {% for driverReservation in driverReservations %}
                  <tr>
                    <td>{{ driverReservation.id }}</td>
                    <td>{{ driverReservation.vehicle.brand }} {{ driverReservation.vehicle.model }}</td>
                    <td>{{ driverReservation.dateReserved | date('d / m / Y') }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>


  </div>

{% endblock %}